RewriteEngine On
RewriteBase /RAE-API
#RewriteRule ^/search/(\w+) singleApp.php?search=$1

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule (\w+$) singleApp.php?search=$1 [L]
RewriteRule (\/(.+$)) singleApp.php?search=$2 [L]

<IfModule !mod_rewrite.c>
    # If we don't have mod_rewrite installed, all 404's
    # can be sent to index.php, and everything works as normal.
    # Submitted by: ElliotHaughin

ErrorDocument 404 /index.php

</IfModule>

<IfModule mod_deflate.c>
	<FilesMatch "\.(html|txt|css|js|php|pl)$">
		SetOutputFilter DEFLATE
	</FilesMatch>
</IfModule>